﻿@using Microsoft.AspNetCore.Identity;
@using Nust_Vote_System.ViewModels;
@*@using OA_DataLayer*@
@*@inject UserManager<ApplicationUser> usermanager
@inject SignInManager<ApplicationUser> signinmanager*@

@model Nust_Vote_System.ViewModels.CadidatesViewModelList


@{
    ViewData["Title"] = "Index";
}

@*@if (signinmanager.IsSignedIn(User))
{*@

<div class=container>
    <div class="row">
        <div class="col-md-12 justify-content-end d-flex">
            <a asp-action="AddCandidate" class="btn btn-primary" style="color:white">Add a Candidate <i class="fas fa-folder-plus"></i></a>
        </div>
        <div class="col-md-12" >
            <table id="udsdser" class="table ">
                <thead class="" style="background: white;">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Cadidates[0].FullName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Cadidates[0].StudentNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Cadidates[0].StudyMode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Cadidates[0].Position)
                        </th>

                        <th>

                        </th>



                    </tr>
                </thead>
                <tbody style="background: #E7E7E8;">

                    @if (Model.Cadidates != null)
                    {



                        @foreach (var item in Model.Cadidates)
                        {
                            <tr>
                                <td>
                                    <div class="row">
                                        <div class="col-md-4 ">
                                            @Html.DisplayFor(modelItem => item.FullName)
                                        </div>
                                        <div class="col-md-4 ">
                                            <img src="@("~/image/"+item.ImageName)" asp-append-version="true" width="50px" height="50px" />
                                        </div>

                                    </div>

                                </td>
                                <td>

                                    @Html.DisplayFor(modelItem => item.StudentNumber)


                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StudyMode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Position)
                                </td>



                                <td>

                                    <div class="btn-group">
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                                        @*<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"><i class="fas fa-list"></i></a>*@
                                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">  <i class="fas fa-trash-alt"></i></a>

                                    </div>

                                </td>

                            </tr>
                        }
                    }
                    else
                    {
                            <tr>There Are No Candidates</tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@*}*@